@import "./Variables";
@import "./Globals.scss";


.Header{
    height: $header-h;
    box-shadow: 0 0 5px 1px black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    

    a{
        text-decoration: none;
    }
}